body {
  padding: 0%;
  margin: 0%;
  /* background-image: url("../assets/.jpg"); */
  background-color:aqua;
  background-repeat: absolute;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Audiowide', cursive;
  text-align: center;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  text-transform: uppercase;
}
h2 {
  text-transform: lowercase;
}
p {
  text-transform: capitalize;
}
